<%= render 'shared/errors', obj: @category %>

<%= form_for @category, :html => {class: "form-horizontal", role: "form"} do |f| %>
  <div class="form-group">

    <%= f.label :name %>

    <%= f.text_field :name, class:"form-control", placeholder:"Enter Category", autofocus:true %>

  </div>
  <div class="form-check">

    <%= f.submit class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
<div class="col-xs-4 col-xs-offset-4">
  [ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
</div>